# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/Editor 관련
.DS_Store
*.log
.idea/
.vscode/

.env